doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")
    
    title="folio"

    link(rel="stylesheet" type="text/css" href="index.css")

  body 
    include ./rotateDevice.pug
    #canvas
    .vids 
      video(style='object-fit: contain;' src="./data/vids/snippets.mp4" id="video" autoplay="true" playsinline="true" loop="true" crossorigin="anonymous" webkit-playsinline="true" width="500" height="500" muted="true")
    script(type="module" src="app.ts")