.portraitAlert
  p.rotate_device__p="Please rotate your device"
  .rotate_device_container
    img.rotate_device_icon(src="./data/images/icons/rotate.svg")
    img.rotate_device_arrow(src="./data/images/icons/rotate-arrow.svg")
