.preloader 
    .preloader__wrapper 
        p.preloader__title="Loading"
        p.preloader__percent="0%"
        .preloader__progress
            hr.preloader__progress__back
            hr.preloader__progress__front