.wip 
    .wip__wrapper
        p.wip__text="Welcome! This site is still a work in progress. If you notice any bugs or have any design suggestions please let me know via email or social media. Thanks!"
        .wip__overlay
            p.wip__overlay__text="CLOSE"