* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

.portraitAlert {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  flex-direction: column;
  display: none;
}

.rotate_device_container {
  position: relative;
}

.rotate_device__p {
  font-size: 18px;
  margin-bottom: 40px;
  position: relative;
}

.rotate_device_icon {
  height: 175px;
  width: 175px;
}

.rotate_device_arrow {
  height: 175px;
  width: 175px;
  position: absolute;
  left: 0;
  top: 0;
}

.active {
  animation: rotate 2s cubic-bezier(.455,.03,.515,.955) 0s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-90deg);
    opacity: 1;
  }
  
  75% {
    transform: rotate(-90deg);
    opacity: 0;
  }
  
  76% {
    transform: rotate(0);
  }
  
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

.visible {
  display: flex;
}

.preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: opacity 1s;
}

.preloader__wrapper {
  width: 100%;
  height: 100%;
  color: white;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preloader__progress {
  width: 40%;
  position: relative;
}

.preloader__progress__back {
  width: 100%;
  background-color: grey;
  border-color: grey;
  height: 3px;
  position: absolute;
}

.preloader__progress__front {
  position: absolute;
  height: 3px;
  width: 0%;
  border-color: #f60d54 ;
  background: #f60d54 ;
}